@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=DynaPuff&family=Lobster&display=swap');

body{

    font-family: 'Lobster', cursive;
    max-width: 25rem;
    margin: auto;
}


.container{
    text-align: center;
    border: .3rem solid aquamarine;
    padding: 2rem;
    height: 25rem;
    background-color: rgb(49 46 129);
    margin-top: 2rem;
    border-radius: 1rem;
    color: aqua;
    box-shadow: 5px 6px gray;
}

.header{

    text-align: center;
    margin-bottom: 3rem;
}

#bday-input{

    padding: .4rem;
    width: 60%;
    font-size: large;
    border: .2rem solid rgb(37 99 235);
    border-radius: .5rem;
    background-color: aquamarine;

}

#check-btn{

    padding: .5rem;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: .2rem solid rgb(37 99 235);
    font-family: 'Lobster', cursive;
    cursor: pointer;
    border-radius: .5rem;
    background-color: aquamarine;
}

#output{

    text-align: center;
    font-size: 1.5rem;

}

@media screen (width : 768px){

    html{

        width : 80%;
    }
    
}

