@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=DynaPuff&family=Lobster&display=swap');

body{

    font-family: 'Lobster', cursive;
   
}


.container{
    text-align: center;
    border: .5rem solid rgb(37 99 235);
    padding: 2rem;
    height: 30rem;
    width: 50%;
    background-color: rgb(49 46 129);
    margin: auto;
    margin-top: 2rem;
  
}

.header{

    text-align: center;
    margin-bottom: 3rem;
}

#bday-input{

    padding: .4rem;
    width: 60%;
    font-size: large;
    border: .3rem solid rgb(37 99 235);

}

#check-btn{

    padding: .5rem;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: .3rem solid rgb(37 99 235);
    font-family: 'Lobster', cursive;
    cursor: pointer;
   
}

#output{

    text-align: center;
    font-size: 1.5rem;

}

